<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <button class="button button-icon button-icon-small icon ion-close-round" ng-click="cancelPost()"></button>
    <h1 class="title">Add Post</h1>
    <button class="button button-icon button-icon-small icon ion-checkmark-round" ng-click="savePost()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="addPostData.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <textarea placeholder="Description" ng-model="addPostData.description" msd-elastic="\n"></textarea>
      </label>
    </div>
    <!-- TODO -->
    <!-- Button should launch camera when tapped -->
    <!-- Button should be displayed when there is no image data -->
    <!-- Image should be displayed when there is some image data -->
    <div class="padding">
      <button type="button" class="button button-outline button-positive"><i class="icon ion-camera"></i>&nbsp;&nbsp;Take Picture</button>
    </div>
    <div class="padding">
      <img class="full-image" ng-src="data:image/jpeg;base64,{{addPostData.picture}}">
    </div>
  </ion-content>
</ion-modal-view>